body {
  background-color: black !important;
  padding: 20px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
p,
ul,
li {
  font-family: sans-serif;
}

.active {
  color: grey !important;
}

.nav {
  color: black !important;
}

.serviceDescription {
  color: white;
  font-style: italic;
}

.serviceList {
  background-color: black !important;
}

.serviceName {
  color: white;
  border-bottom: 1px solid white;
}

/* .allServices {
     -moz-column-count: 2;
     -moz-column-gap: 40px;
     -webkit-column-count: 2;
     -webkit-column-gap: 40px;
     column-count: 2;
     column-gap: 20px;
} */

.serviceTime {
  color: white;
  font-size: 11px;
}

.linkButton {
  color: white !important;
}

.navbar-toggler {
  background-color: white !important
}


ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #111;
  padding: 0;
}


.content {
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}
